<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
 	 http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/aop 
  	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- transaction config -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  	</bean>
  	<tx:advice id="txAdvice" transaction-manager="transactionManager">
  		<tx:attributes>
  			<tx:method name="add*" propagation="REQUIRED"/>
  			<tx:method name="save*" propagation="REQUIRED"/>
  			<tx:method name="create*" propagation="REQUIRED"/>
  			<tx:method name="delete*" propagation="REQUIRED"/>
  			<tx:method name="del*" propagation="REQUIRED"/>
  			<tx:method name="update*" propagation="REQUIRED"/>
  			<tx:method name="get*" propagation="REQUIRED"/><!-- 进行查询操作有更新操作就用get -->
  			<tx:method name="*" read-only="true"/><!-- 只是简单的查询就用select命名 -->
  		</tx:attributes>
  	</tx:advice>
  	 <aop:config>
  		<aop:pointcut id="pointcut" expression="execution(* service.impl.*.*(..))"/>
  		<aop:pointcut id="testPointcut" expression="execution(* service.*.*(..))"/>
  		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
  		<aop:advisor advice-ref="txAdvice" pointcut-ref="testPointcut"/>
  	</aop:config>
	<bean id="baseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="annualBudgetingHeaderDao" class="dao.impl.AnnualBudgetingHeaderDaoImpl" parent="baseDao"/>
	<bean id="annualBudgetingDetailDao" class="dao.impl.AnnualBudgetingDetailDaoImpl" parent="baseDao"/>
	<bean id="annualBudgetingMonthDao" class="dao.impl.AnnualBudgetingMonthDaoImpl" parent="baseDao"/>
	<bean id="yearBudgetHeaderDao" class="dao.impl.YearBudgetHeaderDaoImpl" parent="baseDao"/>
	<bean id="yearBudgetDetailDao" class="dao.impl.YearBudgetDetailDaoImpl" parent="baseDao"/>
	<bean id="yearBudgetMonthDao" class="dao.impl.YearBudgetMonthDaoImpl" parent="baseDao"/>
	<bean id="tableIdsDao" class="dao.impl.TableIdsDaoImpl" parent="baseDao"/>
	<bean id="yearProjectBudgetingService" class="service.impl.YearProjectBudgetingServiceImpl">
		<property name="headerDao" ref="annualBudgetingHeaderDao"></property>
		<property name="detailDao" ref="annualBudgetingDetailDao"></property>
		<property name="monthDao" ref="annualBudgetingMonthDao"></property>
	</bean>
	<bean id="yearProjectBudgetService" class="service.impl.YearProjectBudgetServiceImpl">
		<property name="headerDao" ref="yearBudgetHeaderDao"></property>
		<property name="detailDao" ref="yearBudgetDetailDao"></property>
		<property name="monthDao" ref="yearBudgetMonthDao"></property>
	</bean>
	<bean id="yearProjectBudgetingServiceTest" class="service.YearProjectBudgetingServiceTest">
		<property name="yearProjectBudgetingService" ref="yearProjectBudgetingService"></property>
	</bean>
	 <bean id="yearProjectBudgetServiceTest" class="service.YearProjectBudgetServiceTest">
		<property name="yearProjectBudgetService" ref="yearProjectBudgetService"></property>
	</bean>
	
</beans>